<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home.css">
    <title>Smart Recruiter</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand">Brand</div>
        <div class="primary-btn">
            <button class="btn">Login</button>
        </div>
        <div class="primary btn">
            <button class="btn">SignUp</button>
        </div>
    </nav>
    <main>
        <h1>Hello World</h1>
    </main>
</body>
</html>