<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../home.css">
        <!-- <link rel="stylesheet" href="../style.css"> -->
    </head>

    <body>
        <div class="forms-container">
            <form class="forms-container-item" action="/auth/login" method="POST" enctype="application/json">
                <span class="forms-item forms-brand" for=""><a class="nav-bar-link" href="/">Back</a>Login</span>
                <input class="forms-item" type="text" placeholder="Email" name="email" required>
                <input class="forms-item" type="password" placeholder="Password" name="psw" required>
                <% if( status ) { %>
                <span class="forms-item"><%= status %></span>
                <% } %>
                <button class="forms-item forms-btn" type="submit" >LOGIN</button>
                <label class="forms-item" for=""><a class="forms-link" href="#">Forgot Password ?</a></label>
                <label class="forms-item" for="">New User? <a class="forms-link" href="/auth/signup">Signup</a></label>
                <div class="forms-item">Hidden</div>

            </form>
        </div>
    </body>

</html>
