<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        <link rel="stylesheet" href="../home.css">
    </head>
    <body>
        <div class="forms-container">
            <form class="forms-container-item" action="/auth/signup" method="POST" enctype="application/json">
                <label class=" forms-item forms-brand" for=""><a class="nav-bar-link" href="/auth/login">Back</a>SignUp</label>
                <input class="forms-item" type="text" placeholder="Username *" name="uname" required>
                <input class="forms-item" type="text" placeholder="Email ID *" name="email" required>
                <input class="forms-item" type="password" placeholder="Password *" name="psw" required>
                <input class="forms-item" type="password" placeholder="Re-Enter Password *" name="psw" required>
                <button class="forms-item forms-btn" type="submit" >SIGN UP</button>
                <div class="forms-item">Hidden</div>
            </form>
        </div>
    </body>
</html>
