.dashboard-body{
    display: flex; 
    flex-wrap: wrap;
    justify-content: stretch;  
    height: 100vh;
}
.left-item{
    flex: 1;
    background-color: lightgreen;
    min-width: 15rem;
    /* width: 100%; */
}
.right-item{
    flex: 3;
    /* width: 100%; */
    min-width:25rem;
    background-color: lightcoral;
}